<div class="container">
  <h2 *ngIf="hotels && hotels.length > 0" class="text-muted">{{ title }}</h2>

  <button class="btn btn-primary d-flex mb-2" (click)="toggleIsNewBadge()">
    <span class="material-icons">
      {{ showBadge ? "visibility_off" : "visibility" }}
    </span>
    <span style="margin-left: 1em">
      {{ showBadge ? "Masquer" : "Afficher" }} "Nouveau"
    </span>
  </button>
  <hr />
  <div class="my-2">
    <div class="row">
      <div class="col-md-4">
        <span>Filtre actuel : </span>
        <b>{{ hotelFilter }}</b>
      </div>
      <div class="col-md-8 form-group">
        <input type="text" class="form-control" [(ngModel)]="hotelFilter" />
        <!-- <input type="text" class="form-control" [ngModel]="hotelFilter" (ngModelChange)="hotelFilter = $event"> -->
      </div>
    </div>
  </div>
  <div class="alert alert-primary" *ngIf="!!recieveRating">
    {{ recieveRating }}
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let hotel of filteredHotels">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          [src]="hotel.imageUrl"
          [title]="hotel.hotelName | uppercase"
          [alt]="hotel.hotelName"
        />
        <div class="card-body">
          <h5 class="card-title">{{ hotel.hotelName | titlecase }}</h5>
          <p class="card-text">
            {{ hotel.description }}
          </p>
          <p class="card-text">Prix : {{ hotel.price | currency: 'EUR' : 'symbol' : '1.2-2' : 'fr' | replaceComma }}</p>

          <div class="d-flex justify-content-between align-items-baseline">
            <app-star-rating [rating]="hotel.rating" (starRatingClicked)="recieveRatingClick($event)"></app-star-rating>

            <span class="material-icons bg-info text-white p-2 rounded-circle btn" [routerLink]="['/hotels', hotel.hotelId]">
              keyboard_arrow_right
            </span>
          </div>

          <span class="badge" *ngIf="showBadge">Nouveau</span>
          <!-- <a target="_blank" href="{{hotel.link}}" class="btn btn-primary">Aller sur le site !</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
